@charset "UTF-8";
footer {
  bottom: 0px;
  width: 100%;
  background: #111111;
  padding-top: 100px; }

.main-content {
  display: flex; }

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px; }

.box h2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
  color: #4b4747; }

.box .content {
  margin: 20px 0 0 0;
  position: relative; }

.box .content:before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a; }

.box .content:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px; }

.left .content p {
  text-align: justify;
  color: #4b4747;
  font-family: "Libre Baskerville", serif;
  font-size: 15px; }

.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  color: #4b4747; }

.center .content .fas:hover {
  background: #f12020; }

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: #4b4747; }

.center .content .phone {
  margin: 15px 0; }

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #474b47; }

.right form .msg {
  margin-top: 10px; }

.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  color: #4b4747; }

.right form input {
  height: 35px; }

.btn:hover {
  margin-top: 0px;
  background: #f12020;
  transition: .1s;
  border-radius: 6px; }

.right form .btn button {
  background-color: #f12020;
  border: 1px solid #f12020;
  border-radius: 6px;
  padding: 5px;
  font-weight: 500;
  color: white; }

.bottom center {
  padding: 5px;
  background-image: linear-gradient(135deg, #491616 30%, #1f0a6b 50%);
  margin-top: 20px; }

.bottom center span {
  color: #4b4747; }

.container {
  max-width: 100%;
  margin: 0 auto;
  box-shadow: inset 0px 0px 5px 1px #e2dede;
  background: #1e295d;
  background: linear-gradient(81deg, #1e295d 5%, #661c1c 94%);
  border-radius: 100% 0px 0px 0px; }

.navbar {
  width: 100%; }

ul#efecto {
  text-align: center; }

.container a:hover {
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 5px black); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #111; }

/* Home */
.presentacion__titulo {
  font-family: "thinking of betty";
  font-size: 36px;
  color: #000000;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  text-shadow: 0px 1px 1px white; }

.presentacion__texto-presentacion {
  font-size: 20px;
  font-family: "Libre Baskerville", serif;
  color: #000000;
  padding-left: 30px;
  backdrop-filter: url(filters.svg#filter) blur(54px) saturate(150%); }

.traslados {
  color: #d3c3c3;
  text-align: center;
  background: #111;
  padding-bottom: 10px;
  font-family: "Libre Baskerville", serif; }

#contenedor {
  background-image: url(/img/imghome.jpg);
  min-height: 800px;
  background-size: cover;
  box-shadow: inset 0px 0px 3px 5px black; }

.about .section-header {
  font-family: "thinking of betty";
  color: #d3c3c3; }

.about .about-img {
  position: relative;
  overflow: hidden; }

.about .about-img::after {
  position: absolute;
  content: "";
  top: 60px;
  right: 60px;
  bottom: 60px;
  left: 60px;
  background: transparent;
  border: 30px solid;
  border-image: repeating-linear-gradient(45deg, rgba(204, 195, 195, 0.452), rgba(0, 0, 0, 0.05) 0.5%, rgba(0, 0, 0, 0.1) 0.5%, rgba(0, 0, 0, 0.1) 1%) 30; }

.about .about-img-1 {
  position: relative;
  height: 100%;
  height: 100%;
  margin: 0 150px 150px 0; }

.about .about-img-2 {
  position: absolute;
  height: 100%;
  height: 100%;
  top: 150px;
  left: 150px;
  z-index: 1; }

.about .about-img-1 img,
.about .about-img-2 img {
  position: relative;
  width: 100%; }

.about .about-text p {
  font-size: 16px;
  color: #807676;
  border-radius: 6px;
  font-family: "Libre Baskerville", serif; }

.service .service-item {
  width: 100%;
  margin-bottom: 30px;
  padding: 40px;
  text-align: center;
  background-color: #135082;
  border-radius: 10px; }

h2 {
  color: #d3c3c3;
  font-family: "thinking of betty"; }

.fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  width: 45px;
  line-height: 45px;
  border-radius: 50%;
  color: #4b4747; }

.service .service-item h3 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #807676;
  font-weight: bold; }

/* home */
@media (max-width: 900px) {
  .presentacion__texto-presentacion {
    text-align: center;
    padding-left: initial;
    box-sizing: content-box;
    font-size: medium;
    padding: 5px;
    color: #000000;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0px; } }

@media (max-width: 900px) {
  .presentacion__titulo {
    text-align: center;
    font-size: 30px; } }

/* compañia */
@media (max-width: 770px) {
  .about .about-img {
    margin-bottom: 30px;
    height: auto; } }

/* footer */
@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px; }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column; }
  .main-content .box {
    margin: 5px 0; } }

/* Servicios */
