
/* Home */

.presentacion__titulo {
  font-family: $fontSubTitulos;
  font-size: $fontSizeTitulos;
  color: #03738C;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
}

.presentacion__texto-presentacion {
  font-size: $fontSizeTextos;
  font-family: $fontTextos;
  color:#000000;
  padding-left: 30px;
  backdrop-filter: url(filters.svg#filter) blur(54px) saturate(150%);
  
}

.traslados {
  color: #d3c3c3;
  text-align: center;
  background: #111;
  padding-bottom: 10px;
  font-family: $fontTextos;
}

#contenedor {
  background-image: url(/img/imghome.jpg);
  min-height: 800px;
  background-size: cover;
  box-shadow:inset 0px 0px 3px 5px rgba(0,0,0,1);
}


