

.container{
  max-width: 100%;
  margin: 0 auto;
  box-shadow:inset 0px 0px 5px 1px rgb(226, 222, 222);
  background: rgb(30,41,93);
  background: linear-gradient(81deg, rgba(30,41,93,1) 5%, rgba(102,28,28,1) 94%);
  border-radius: 100% 0px 0px 0px;
  

}

.navbar {
  width: 100%;
}

ul#efecto {
  text-align: center;
}

.container a:hover {
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

