

.container{
  max-width: 100%;
  margin: 0 auto;
  background: linear-gradient(274deg, rgb(31, 108, 138) 6%, rgba(19, 49, 70, 0.548) 82%);
  border-radius: 100% 0px 0px 0px;
  
}

.navbar {
  width: 100%;
  
}

ul#efecto {
  text-align: center;
}

.container a:hover {
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

