
:root{
    --colortextos:#49454567;
}

.pagcontacto{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    text-align: center;
    margin: 10px 0;
    font-weight: 800;
    
    font-family: $fontTextos;
}

.formulario{
    background: #B0D9D1;
    width: 30%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255,255,255,0.8);
    
}

.contacto{
    width: 100%;
    margin: auto;


}

.formulario .grupo{
    position: relative;
    margin: 45px;
}

input, textarea{
    background: none;
    color: #130505;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colortextos);
    resize: none;
}

input:focus,textarea:focus{
    outline: none;
    color: rgb(94,93,93);
}

input:focus~label,
 input:valid~label, 
 textarea:focus~label, 
 textarea:valid~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: rgb(161, 157, 157);
}   

label{
    color: var(--colortextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;
    pointer-events: none;
}

/* barra */

.barra{
    position: relative;
    display: block;
    width: 100%;
}

input:focus~.barra::before, textarea:focus~.barra::before{
    width: 100%;
} 

.barra::before{
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(81deg, rgb(255, 255, 255) 30%, #04ADBF 50%);
    transition: 0.3s ease all;
    left: 0%;

}

/* boton */

.botoncontacto{
    background: #03738C;
    transition: 0.4s;
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    color: #fff;
    font-family: $fontTextos;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
}

.botoncontacto:hover{
    background: #f12020;
    
}

@media screen and (max-width:1100px){
        .formulario{
            width: 50%;
        }
}

@media screen and (max-width:600px){
    .formulario{
        width: 60%;
    }
}

@media screen and (max-width:450px){
    .formulario{
        width: 80%;
    }
}

@media screen and (max-width:300px){
.formulario{
    width: 90%;
}
}