@import"_variables.scss";
@import"_footer.scss";
@import"_menu.scss";
@import"_body.scss";
@import"_home.scss";
@import"_stylecompania";
@import"_styleservicios";
@import"_styleserprestador";
@import"_stylecontacto";



/* home */

@media (max-width:900px) {
    .presentacion__texto-presentacion {
        text-align: center;
        padding-left: initial;
        box-sizing: content-box;
        font-size: medium;
        padding: 5px;
        
        color: #000000;
        text-shadow: none;
        box-shadow: none;
        border-radius: 0px;
    }
}

@media (max-width:900px) {
    .presentacion__titulo {
        text-align: center;
        font-size: 30px;
    }
}

/* compañia */

@media (max-width: 770px) {
  .about .about-img {
    margin-bottom: 30px;
    height: auto;
  }
}


/* footer */

@media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }

  /* contacto */

  

